<!DOCTYPE html>
<html>
<body>

<form  action="{{ url_for('manage_family.add_family')}}" method="post">
  <label for="fname">Nama</label><br>
  <input type="text" id="fname" name="fname" required>
  <br>
  
  <label>Gender</label><br>
  <input type="radio" id="kelaminL" name="kelamin" value="L" required><label for="kelaminL">L</label>  
  <input type="radio" id="kelaminP" name="kelamin" value="P" required><label for="kelaminP">P</label>
  <br>
  
  <label >Parent</label>
  <select name="select_parent">
      <option value="" selected>None</option>
      {%for f in family%}
        <option value="{{f.id}}">{{f.nama}}</option>
        

        {%endfor%}

  </select>
   <br>
   <br>
  
  <input type="submit" value="Submit">
   <a href="{{ url_for('manage_family.all_family')}}">
        back
    </a>
</form> 


</body>
</html>