<!DOCTYPE html>
<html>
  <title>
    {% block title %}{% endblock %}
  </title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="https://www.svgrepo.com/show/120899/weightlifting.svg">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/mainpage.css') }}">
  {% block head %}
  {% endblock %}
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <body>
    <!-- Base -->
    {% block content %}
    {% endblock %}

    <!-- Navbar (sticky bottom) -->
    <div class="w3-bottom w3-hide-small">
      <div class="w3-bar w3-white w3-center w3-padding w3-opacity-min w3-hover-opacity-off navbar-sticky">
        <div class="navbar-sticky-left">
          <span>Trademark @Aswindanu Anwar</span>
        </div>
        <div class="navbar-sticky-right">
          <span style="margin: 0px;">Powered by <a href="https://www.w3schools.com/w3css/default.asp" title="W3.CSS" target="_blank" class="w3-hover-text-green">w3.css</a></span>
        </div>
      </div>
    </div>

    <!-- Footer -->
    <!-- <footer class="w3-center footer">
      <p style="margin: 0px;">Powered by <a href="https://www.w3schools.com/w3css/default.asp" title="W3.CSS" target="_blank" class="w3-hover-text-green">w3.css</a></p>
    </footer>
    <div class="w3-hide-small" style="margin-bottom:32px"> </div> -->
  </body>

  <!-- AXIOS -->
  <script type="text/javascript">
    axios.defaults.headers.common["X-CSRFToken"] = "{{ csrf_token() }}";
    const submitForm = (e, form) => {
      console.log("FORM", form);
      e.preventDefault();
      let body = {};
      let exclude = ["endpoint", "redirect"];

      let contentType = form.enctype || "application/x-www-form-urlencoded";
      if (contentType == "application/x-www-form-urlencoded") {
        body = [];
        Array.from(form.elements).forEach((input) => {
          if (input.name && !exclude.includes(input.name)) body.push(encodeURIComponent(input.name) + "=" + encodeURIComponent(input.value));
        });
        body = body.join("&");
      } else {
        Array.from(form.elements).forEach((input) => {
          if (input.name && !exclude.includes(input.name)) body[input.name] = input.value;
        });
        body = JSON.stringify(body);
      }

      options = {
        url: form.endpoint.value,
        method: 'post',
        // credentials: "same-origin",
        credentials: "include",
        redirect: 'follow',
        headers: {
          // "X-CSRF-Token": form.csrf_token?.value,
          "Content-Type": contentType,
        },
        data: body,
      }
      let ok, url, html;
      axios(
        options
      ).then((response) => {
        console.log("response", response)
        ok = response.status;
        url = response.request.responseURL;
        html = response.data;
        document.body.innerHTML = html;
        if (ok != 200) return;
        if (form.redirect) window.location.href = form.redirect.value;
        else if (url) window.location.href = url;
      }).catch(function(err) {
        console.log("error", err);
        document.body.innerHTML = err.response.data;
      });
    }
  </script>


  <!-- FETCH -->
  <script type="text/javascript">
    // const submitForm = (e, form) => {
    //   console.log("FORM", form);
    //   e.preventDefault();
    //   let body = {};
    //   let exclude = ["endpoint", "redirect"];

    //   let contentType = form.enctype || "application/x-www-form-urlencoded";
    //   if (contentType == "application/x-www-form-urlencoded") {
    //     body = [];
    //     Array.from(form.elements).forEach((input) => {
    //       if (input.name && !exclude.includes(input.name)) body.push(encodeURIComponent(input.name) + "=" + encodeURIComponent(input.value));
    //     });
    //     body = body.join("&");
    //   } else {
    //     Array.from(form.elements).forEach((input) => {
    //       if (input.name && !exclude.includes(input.name)) body[input.name] = input.value;
    //     });
    //     body = JSON.stringify(body);
    //   }

    //   options = {
    //     method: 'post',
    //     // credentials: "same-origin",
    //     credentials: "include",
    //     redirect: 'follow',
    //     headers: {
    //       "X-CSRF-Token": form.csrf_token?.value,
    //       "Content-Type": contentType,
    //     },
    //     body: body,
    //   }
    //   let ok, url;
    //   fetch(
    //     form.endpoint.value, 
    //     options
    //   ).then((response) => {
    //     console.log("response", response)
    //     ok = response.ok;
    //     url = response.url;
    //     return response.text()
    //   }).then((html) => {
    //     document.body.innerHTML = html;
    //     if (!ok) return;
    //     if (form.redirect) window.location.href = form.redirect.value;
    //     else if (url) window.location.href = url;
    //   }).catch(function(err) {
    //     alert(`Error : ${err}`)
    //   });
    // }
  </script>
</html>
