<!DOCTYPE html>
<html>
  <title>
    {{ title }} 
  </title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/mainpage.css') }}">
<body>

<!-- Header / Home-->
<header class="w3-display-container w3-wide bgimg w3-grayscale-min" id="home">
  <div class="w3-display-middle w3-text-white w3-center">
    {% if results|length > 0 %}<h2>Edit Data</h2><h2>ID {{results.id}}</h2>{% else %}<h2>Create New</h2>{% endif %}
    <h3>{% if message|length > 0 %} {{ message }} {% endif %}</h3>
    {% if results|length > 0 %}
    <form action="{{ url_for('crud.editresource') }}" method="post">
      <input type="hidden" id="id" name="id" value="{{ results.id }}"><br>
      <label class="text-brown" for="tanggal">Tanggal:</label><br>
      <input type="text" id="tanggal" name="tanggal" value="{{ results.tanggal }}"><br>
      <label class="text-brown" for="max">Berat Max:</label><br>
      <input type="text" id="max" name="max" value="{{ results.max }}"><br>
      <label class="text-brown" for="min">Berat Min:</label><br>
      <input type="text" id="min" name="min" value="{{ results.min }}"><br>
      <input type="submit" value="Submit">
    </form>
      {% else %}
    <form action="{{ url_for('crud.crudresource') }}" method="post">
      <input type="hidden" id="id" name="id" value=""><br>
      <label class="text-brown" for="tanggal">Tanggal:</label><br>
      <input type="text" id="tanggal" name="tanggal" placeholder="2021-12-24" value=""><br>
      <label class="text-brown" for="max">Berat Max:</label><br>
      <input type="text" id="max" name="max" placeholder="52" value=""><br>
      <label class="text-brown" for="min">Berat Min:</label><br>
      <input type="text" id="min" name="min" placeholder="46" value=""><br>
      <input type="submit" value="Submit">
    </form>
    {% endif %}
  </div>
</header>

<!-- Navbar (sticky bottom) -->
<div class="w3-bottom w3-hide-small">
  <div class="w3-bar w3-white w3-center w3-padding w3-opacity-min w3-hover-opacity-off">
    <a href="/" style="width:33%" class="w3-bar-item w3-button">Home</a>
    <a href="{{ url_for('index.indexresource')}}" style="width:34%" class="w3-bar-item w3-button">Table Index</a>
    <a href="{{ url_for('crud.crudresource')}}" style="width:33%" class="w3-bar-item w3-button">Create New</a>
  </div>
</div>

<!-- Footer -->
<footer class="w3-center w3-black w3-padding-16">
  <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" title="W3.CSS" target="_blank" class="w3-hover-text-green">w3.css</a></p>
</footer>
<div class="w3-hide-small" style="margin-bottom:32px"> </div>

</body>
</html>
