{% extends "base.html" %}
{% block title %}Details{% endblock %}

{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}

{% block content %}
<header class="w3-display-container w3-wide bgimg w3-grayscale-min" id="home">
  <div class="w3-display-middle w3-text-white w3-center">
    <h2>Detail Data</h2>
    {% if results|length > 0 %}
      <table >
        <tr>
          <th>ID</th>
          <th>Date</th>
          <th>Weight</th>
          <th>Weight Loss</th>
          <th>Status</th>
          <th>Tools</th>
        </tr>

        <tr>
          <td>{{ results.id }}</td>
          <td>{{ results.date }}</td>
          <td>{{ results.weight }}kg</td>
          <td>{{ results.loss }}kg</td>
          <td>{{ results.status }}</td>
          <td>
            <a href="{{ url_for('weight.crudresource')}}?id={{ results.id }}">
              edit
            </a>
          </td>
        </tr>
      </table>
    {% else %}
        No data
    {% endif %}
  </div>
  <div>
    <a href="{{ url_for('weight.homeresource')}}">
      Back to Home
    </a>
  </div>
</header>
{% endblock %}