{% extends "base.html" %}

{% block title %}Index{% endblock %}

{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}

{% block content %}
<header class="w3-display-container w3-wide bgimg w3-grayscale-min" id="home">
  <div class="w3-display-left w3-center">
    <h3> 
      Your friendly weight-o <br/> meter is here!
    </h3>
    <!-- table -->
    <div class="w3-display-middle w3-text-white w3-center scrollable outline-table">
      {% if results|length > 0 %}
        <table >
          <tr>
            <th>Date</th>
            <th>Weight</th>
            <th>Weight loss</th>
            <th>Status</th>
            <th>Tools</th>
          </tr>
  
          <tr>
            <td>---</td>
            <td>---</td>
            <td>---</td>
            <td>---</td>
            <td>---</td>
          </tr>
          
          {%for result in results%}
          <tr>
            <td>{{ result.date }}</td>
            <td>{{ result.weight }}kg</td>
            <td>{{ result.loss }}kg</td>
            <td>{{ result.status }}</td>
            <td>
              <a href="{{ url_for('weight.detailtemplate')}}?id={{ result.id }}">
                <i class="fa fa-eye" aria-hidden="true"></i>
              </a>
              <a href="{{ url_for('weight.edittemplate')}}?id={{ result.id }}">
                <i class="fa fa-pencil" aria-hidden="true"></i>
              </a>
            </td>
          </tr>
          {%endfor%}
        </table>
      {% else %}
          No data
      {% endif %}
    </div>
    <!-- end of table -->
    <h6 class="swagger-docs"> 
      <a href="/api/docs" target="_blank">
        Click here for Swagger Docs
      </a>
    </h6>
  </div>
  <div class="w3-display-right w3-center">
    {{ message }}
    <form class="home-create-weight" action="{{ url_for('weight.crudtemplate') }}" method="post">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
      <label class="text-brown" for="date">Date:</label><br>
      <input type="text" id="date" name="date" placeholder="2021-12-24" value=""><br>
      <label class="text-brown" for="weight">Weight:</label><br>
      <input type="text" id="weight" name="weight" placeholder="52" value=""><br>
      <input type="submit" value="Submit">
    </form>
    <h6 class="logout"> 
      <a href="{{ url_for('auth.logouttemplate')}}">
        Logout
      </a>
    </h6>
  </div>
</header>
{% endblock %}
